services:
  server:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
w